<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICitizenService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mernisservis.isimtescil.net/CitizenService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICitizenService"
                contract="CitizenService.ICitizenService" name="BasicHttpBinding_ICitizenService" />
        </client>
    </system.serviceModel>
</configuration>